body{
    background-color: rgb(9, 9, 73);
    margin: 0%;
     width: 100%;
   height: 100vh;
   display: flex;
flex-direction: column;
overflow-y: hidden;
overflow-x: hidden;
}
.first{
    width: 100%;
   height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.secours{
    min-width: 100%;
   height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
     background-color: rgb(117, 84, 194);
     box-sizing: border-box;
     margin: auto;
}
.first1{
     width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
}
.first2{
  width: 470px;
    height: 50px;
} 
.first2 ul{
display: flex;
    justify-content: space-around;
    align-items:center;
    color: white;
}
.first2 li{
list-style: none;
 flex-direction: row;
}

.first1 strong{
    color: blue;
    font-size: 20px;
}

.burger{
display: none;
flex-direction: column;
width: 30px;
height:  25px;
}
@media (max-width:680px) {
    .first{
        display: none;
    }
    .BB{
    width: 100%;
   height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.baby{
    min-width: 100%;
   height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
     background-color: rgb(19, 3, 54);
     box-sizing: border-box;
     margin: auto;
}
.babe{
     width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
}
.babe strong{
    color: blue;
    font-size: 20px;
}
    .burger{
        display: flex;
        width: 100px;
        height: 50px;
        justify-content: center;
    align-items:center;
        margin: 0%;
      
    }
    .burger ul{
        list-style: none;
        position: relative;
        padding: 0;
        margin: 0;
    }
    .burger li{
        position: relative;

    }
    .burger ul li a{
        text-decoration: none;
       font-size: 40px;
        color: rgb(245, 240, 240);
    }
    .burger ul li  ul{
        backdrop-filter: blur(60px);
        position: absolute;
        padding: 0%;
        width:  300px;
        height: 420px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        color: white;
        cursor: pointer;
        border: 2px solid  white;
        border-radius: 20px;
       transition: right 0.3s ease;
        right: -30px;
        visibility: hidden;
     
    }
    .burger ul li:hover ul{
        visibility: visible;
    }
}
.bj{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: auto 0 ;
}
.second{
    width: 100%;
    min-height: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  
}
.second1{
    color: white;    
}
p1,p3{
    font-size: 25px;
}
p2{
    font-size: 40px;
}
p2 strong{
    color: blue;
}
img{
    Height:300px;
Margin:0 auto;
border-radius: 50%;
 width: 100%;
 max-width: 250px;
}
@media (max-width:780px) {
    .second{
    width: 100%;
    min-height: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 flex-direction: column;
    }
}
